<h1>Welcome to the Message Board</h1>


<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Login", "Login", "Account")</p>
<p>@Html.ActionLink("Register", "Register", "Account")</p>

<p>@Html.ActionLink("Create a Group", "Create", "Group")</p>
<p>@Html.ActionLink("Logout", "Logout", "Account")</p>
